.popupContainerFull {
    display: none; /* Hide by default */
    position: fixed; /* Fixed position in the viewport */
    top: 5vh; /* 5% from the top, to cover 90% */
    left: 5vw; /* 5% from the left, to cover 90% */
    width: 90vw; /* 90% of viewport width */
    height: 90vh; /* 90% of viewport height */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background to cover other content */
    z-index: 1000; /* Large z-index to make sure it appears on top */
    overflow-y: auto; /* Add scrollbar if the content exceeds the height */
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    transition: opacity 1s ease, visibility 1s ease;
    /* this ensures smooth transition */
    opacity: 1;
    visibility: visible;
   
  
    /* Setting a high z-index to ensure it's above other content */
}


.popupContainer {
    position: relative;
    width: 100%;
    /* background-color: white; */
    margin-right: 0;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    height: fit-content;
    max-height: 90vh;
    border: none;
    overflow: scroll;
}

.infoSection {
    display: flex;
    flex-direction: row;
    margin-left: 40%;
    top: 4em;
    left: 4em;
    /* right: 2em; */
    bottom: 2em;
    width: auto;
    height: max-content;
}

.popupInner {
    padding: 0.5em;
    padding-inline: 0;
}

.spanWrap {
    width: 50vw;
    word-wrap: break-word;
}

.closePopup {
    position: absolute;
    /* Changed from relative to absolute */
    top: 0px;
    /* Set the distance from the top edge */
    right: 0;
    /* Set the distance from the right edge */
    background: none;
    border: none;
    font-size: 20px;
    z-index: 99999;
}

.closePopup:hover {
    color: #ff5722;
}

































.popup_navMenu {
    /* border: 1px solid orange; */
    width: 35%;
    z-index: 1;
}


.popup_info {
    /* border: 1px solid orange; */
    position: relative;
    /* Allows for the positioning of child pseudo-elements */
    margin-top: 5em;
    padding-top: 6em;
    /* increased padding to account for gradient height */
    padding-bottom: 3em;
    /* same as above */
    width: 70%;
    overflow-Y: auto;
    z-index: 999999;
    /* border: 1px solid yellow; */
    height: fit-content;
    max-height: 85vh;
}

.popupContainerHidden {
    opacity: 0;
    visibility: hidden;
}

.fade-enter {
    opacity: 0.5;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1s;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.5;
    transition: opacity 1s;
}


@media screen and (min-width: 1440px) {
    .popupContainer {
        display: flex;
        background-color: white;
        height: 85vh;;
    }
    .popup_info {
        width: 100%; /* Let the info component take up the full width */
        margin-top: 0; /* Adjust top margin as needed */
        height: 85vh;
      }
}

@media screen and (max-width: 1439px) {

    .popupContainer {
        margin-top: 32px;
        display: flex;
  
        height: 80vh;
    }

    .popup_info {
        width: 100%; /* Let the info component take up the full width */
        margin-top: 0; /* Adjust top margin as needed */
        height: 80vh;
      }
      
}
  
  @media screen and (max-width: 991px) {
    .popupContainer {
        margin-top: 32px;
        display: flex;
        background-color: white;
        height: 80vh;
    }
    .popup_navMenu {
        display: none; /* Hide the nav menu */
      }
      .popup_info {
        width: 100%; /* Let the info component take up the full width */
        margin-top: 0; /* Adjust top margin as needed */
        height: 80vh;
      }
  }
  
  @media screen and (max-width: 767px) {

    .popupContainer {
        transform: translateY(35px);
    }
    .popupContainer > span {
        font-size: 0.2rem;
    }
    .popupMenu {
        display: none;
    }
    .infoSection {
        margin: 0;
        width: 100%;
    }
  }
  
  @media screen and (max-width: 479px) {
        .popupContainer {
            margin-top: 3px;
            display: flex;
            height: 80vh;
            width: 100vw;
        }

        .infoSection {
            margin: 0;
            width: 100%;
        }

        .popupMenu {
            display: none;
        }
        .popup_info {
        
            width: 100%;
            overflow-Y: auto;
            z-index: 999999;
            height: 100%;;
            max-height: 80vh;
            word-wrap: break-word;
        }

      .popup_info h2{
        font-size: 1rem;
      }

      .popup_info span{
        font-size: 0.8rem;
      }
  }
  