.nav {
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: black;
    z-index: 9;
    overflow: hidden;

}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navContainer>div {
    display: flex;
}

.navItem {
    display: inline-block;
    font-size: large;
    /* line-height: 1.75rem; */
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;


}

.navItem:hover {
    color: gold;
    transition: 0.5s ease;
}

.navItemHamburger {
    overflow: visible;
    display: flex;
    padding-right: 0;
    align-items: flex-end;
    justify-content: flex-end;
    /* Right aligns the items */
    box-sizing: border-box;
    height: min-content;
    /* position: absolute; */
    top: 100%; 
    left: 0;
    right: 0;
    z-index: 20;
    transition: transform 2s ease-out;
    /* border: 1px solid red;
    background-color: yellow; */
    z-index: 20;
}

.navItemHamburger .title {
    /* opacity: 1; */
    /* transform: translateX(100%); */
    color: red;
    /* transition: opacity 0.3s, transform 0.3s; */
    /* Start off the screen */
}

/* 
.navItemHamburger .navItem {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.3s, transform 0.3s;  
} */

.hamburger {
    display: flex;
    padding-left: 32px;
    align-items: middle;
    justify-content: space-between;
    text-align: right;
    display: none;
    width: 80vw;
}

.hamburgerButton {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    position: relative;
    outline: none;
    cursor: pointer;
    z-index: 10;
}

.hamburgerButton:hover div {
    background: transparent;
}

.title {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1rem;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    text-decoration: none;
    /* border: 1px solid red; */
    height: auto;
    line-height: normal;
    display: flex;
    align-items: middle;
    justify-content: center;
    transform: translateX(0);
    opacity: 0;
    /* transition: opacity 0.3s, transform 0.3s; */
}


@keyframes fadeInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes fadeOutToRight {

    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}





















/* .title>h6 {

    background-image: url('/images/contactFire.gif');
    background-size: cover;
    color: white;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: large;

    margin-top: auto;
    margin-bottom: auto;


} */

.hamburgerButton .navContainer>div {
    display: none;
    /* Hide the regular menu items on medium screen */
}

.hamburgerButton .navContainer>button {
    display: block;
    /* Show the hamburger button on medium screen */
}

/* Laptop */
@media screen and (min-width: 1440px) {
    .navItemHamburger span {
        display: none;
    }
}

@media screen and (max-width: 1439px) {
    .nav {
        border: 2px solid red;
    }

    .navItem {
        display: inline-block;
        margin-left: 3%;
        padding: 0.1em;
        font-size: larger;
    }

}

@media screen and (max-width: 991px) {
    .nav {
        border: 2px solid orange;
    }

    .navItem {
        padding: 0;
        font-size: small;
    }

    .navItemHamburger span {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .nav {
        border: 2px solid yellow;
        background-color: transparent;
    }

    .navContainer>div {
        display: none;
        /* background-color: red; */
    }

    .navItemHamburger {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: flex-end;
        width: 100%;
        transition: transform 0.5s ease-out;
        background-color: transparent !important;
        height: min-content;
    }

    .navContainer>button {
        display: block;
    }

    .navItemHamburger.opening .title {
        opacity: 0;
        animation: fadeInFromRight 0.5s forwards;
        animation-delay: calc(0.15s * var(--index));
    }
    
    .navItemHamburger.closing .title {
        opacity: 1;
        animation: fadeOutToRight 0.5s forwards;
        animation-delay: calc(0.15s * (var(--total-items) - var(--index)));
    
    }
}

@media screen and (max-width: 479px) {
    .nav {
        border: 2px solid green;
    }

    .navItem {
        padding: 0;
        font-size: small;
    }
}

@media screen and (max-width: 319px) {
    .nav {
        border: 2px solid blue;
    }

    .navItem {
        padding: 0;
        font-size: small;
    }
}

/* @media screen and (min-width: 769px) {
    .navContainer>div {
        display: block;
        background-color: transparent !important;
    }
    .navContainer>button {
        display: none;
    }
    .navItemHamburger {
        flex-direction: column;
    }
}


     */